[build]
  publish = "dist"
  command = "npm run build"

[functions]
  directory = "netlify/functions"

[dev]
  framework = "#static"
  command = "vite --port 5173 --host"
  targetPort = 5173
  port = 8888
  autoLaunch = false

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  CI = "false"
  VITE_RAWG_API_KEY = "ab751c315cac41738ff2e1a51ae8435e"